:root{
    --titulo-principal:#fcf04f9f;
    --cor-do-texto:#008000;
    --cor-de-fundo:#000000;
    --cor-do-botao:#FFCBDB;
}
body{
    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--titulo-principal);
}
*{
 margin: 0;
 padding:0;
}
.principal{
    background-image:url(fundo2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    height: 100vh
    display: grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    background-color: var(--cor-do-botao);
}